*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color:rgba(243,234,227,255);
    font-family:serif;


}
.box{
    display: flex;
    margin-top: 13.5%;
    width: 600px;
    height: 440px;

    
    
}

.box-image> img{
    
    height: 440px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


    

}
.content-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction:column ;
    padding: 0px 25px 0px 25px;
    background-color:white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    
}
.content-box >h3{
    letter-spacing: 3px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.content-box >p{
    font-weight: lighter;
}
#green{
    color:rgba(26,64,49,255);
    font-size: xx-large;
    margin-right: 20px;
    font-weight: bolder;
}
.button{
    background-color:rgba(26,64,49,255) ;
    color :white;
    padding: 10px;
    border-radius: 5px;
    
}
button:hover {
    background-color:rgb(23, 36, 31) ;
    cursor: pointer;

}